.gridBackground {
  width: 100%;
  height: 100%;

  background-size: 10px 10px;
  background-image: linear-gradient(
      to right,
      var(--chakra-colors-gray-200) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      var(--chakra-colors-gray-200) 1px,
      transparent 1px
    );
}
